<system.diagnostics>
    <sharedListeners>
      <add initializeData="FullTrace.svclog" IsEnabled="true" type="System.Diagnostics.XmlWriterTraceListener" name="fullTraceXml">

      </add>
    </sharedListeners>
    <sources>
      <source name="TraceableDbProviderFactory" switchValue="All">
        <listeners>
          <add name="fullTraceXml" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
</system.diagnostics>